@using SC.SenseTower.Admin.Dto.TowerEvents
@using SC.SenseTower.Admin.Models.TowerEvents
@model TowerEventsViewModel
@functions {
    public string SortingClasses(string fieldName)
    {
        var sorting = Model.Sorting.FirstOrDefault(r => r.PropertyName == fieldName);
        if (sorting == null)
        {
            return string.Empty;
        }
        return "sorted sorted-" + (sorting.Ascending ? "up" : "down");
    }

    public string SortingAttributes(string fieldName)
    {
        var sorting = Model.Sorting.FirstOrDefault(r => r.PropertyName == fieldName);
        if (sorting == null || sorting.SortOrder <= 0)
        {
            return string.Empty;
        }
        return "data-sort-priority=" + sorting.SortOrder.ToString();
    }
}
<div class="table-responsive">
    <table class="table table-hover mb-2">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Афиша</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 @SortingClasses(nameof(TowerEventGridItemDto.Title))" sorting data-sort-by="@nameof(TowerEventGridItemDto.Title)" @SortingAttributes(nameof(TowerEventGridItemDto.Title))>Название</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 @SortingClasses(nameof(TowerEventGridItemDto.Date))" sorting data-sort-by="@nameof(TowerEventGridItemDto.Date)" @SortingAttributes(nameof(TowerEventGridItemDto.Date))>Время проведения</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Пространство</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 @SortingClasses(nameof(TowerEventGridItemDto.State))" sorting data-sort-by="@nameof(TowerEventGridItemDto.State)" @SortingAttributes(nameof(TowerEventGridItemDto.State))>Состояние</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Билетов</th>
                <th class="text-secondary text-xxs font-weight-bolder opacity-7 text-center"><i class="fas fa-bolt"></i></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Length > 0)
            {
                foreach (var item in Model.Items)
                {
                    <tr data-id="@item.Id" class="cursor-pointer">
                        <td>
                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                            {
                                <img src="@item.ImageUrl" class="tower-event-image">
                            }
                        </td>
                        <td>@item.Title</td>
                        <td>
                            @if (item.Date.Date == item.UpTo.Date)
                            {
                                <span>@item.Date.ToString("dd-MM-yyyy HH:mm") - @item.UpTo.ToString("HH:mm")</span>
                            }
                            else
                            {
                                <span>@item.Date.ToString("dd-MM-yyyy HH:mm") - @item.UpTo.ToString("dd-MM-yyyy HH:mm")</span>
                            }
                        </td>
                        <td>@item.SpaceName</td>
                        <td>@item.State</td>
                        <td>@(item.Sold) / @(item.TotalTickets)</td>
                        <td class="align-middle text-center">
                            <a href="javascript:;" class="text-info" data-action="add-tickets" title="Добавить билеты"><i class="far fa-calendar-plus"></i></a>
                            <a href="javascript:;" class="text-success" data-action="view-tickets" title="Проданные билеты"><i class="fas fa-info-circle"></i></a>
                            <a href="javascript:;" class="text-danger" data-action="delete" title="Удалить событие"><i class="fas fa-minus-circle"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="align-middle text-center" colspan="7">
                        <span class="h5">Данные не найдены</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_Paginator" model="Model.Pagination" />
